<!--banner-starts-->
	<div class="bnr" id="home">
		<div  id="top" class="callbacks_container">
			<ul class="rslides" id="slider4">
			    <!-- <li>
					<img src="images/bnr-1.jpg" alt=""/>
				</li>
				<li>
					<img src="images/bnr-2.jpg" alt=""/>
				</li> -->
				<li>
					<img src="images/bnr-3.jpg" alt=""/>
				</li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!--banner-ends--> 
	<!--Slider-Starts-Here-->
	<script src="js/responsiveslides.min.js"></script>
	<script>
	    // You can also use "$(window).load(function() {"
	    $(function () {
	      // Slideshow 4
		    $("#slider4").responsiveSlides({
		        auto: true,
		        pager: true,
		        nav: true,
		        speed: 500,
		        namespace: "callbacks",
		        before: function () {
		          $('.events').append("<li>before event fired.</li>");
		        },
		        after: function () {
		          $('.events').append("<li>after event fired.</li>");
		        }
		    });	
	    });
	</script>
	<!--End-slider-script-->
<!--about-starts-->
	<div class="about"> 
		<div class="container">
			<div class="about-top grid-1">
				<div class="col-md-4 about-left">
					<figure class="effect-bubba">
						<img class="img-responsive" src="images/abt-1.jpg" alt=""/>
						<figcaption>
							<h2>Nulla maximus nunc</h2>
							<p>In sit amet sapien eros Integer dolore magna aliqua</p>	
						</figcaption>			
					</figure>
				</div>
				<div class="col-md-4 about-left">
					<figure class="effect-bubba">
						<img class="img-responsive" src="images/abt-2.jpg" alt=""/>
						<figcaption>
							<h4>Mauris erat augue</h4>
							<p>In sit amet sapien eros Integer dolore magna aliqua</p>	
						</figcaption>			
					</figure>
				</div>
				<div class="col-md-4 about-left">
					<figure class="effect-bubba">
						<img class="img-responsive" src="images/abt-3.jpg" alt=""/>
						<figcaption>
							<h4>Cras elit mauris</h4>
							<p>In sit amet sapien eros Integer dolore magna aliqua</p>	
						</figcaption>			
					</figure>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--about-end-->
	<!--product-starts-->
	<div class="product"> 
		<div class="container">
			<div class="product-top">
				<div class="product-one">
					<div class="col-md-3 header-right pull-right"> 
						<div class="search-bar">
							<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" ng-model="criteria" placeholder="Search By Device Lable">
							<input type="submit" value="">
						</div>
					</div>
					<div class="clearfix"></div>
					<br>
					<div class="col-md-3 product-left" ng-repeat="Detail in Details | filter:{deviceLable: criteria} | orderBy : 'deviceId' | limitTo : 8 as Details" ng-if="Details">			
						<div ng-if="!dateDiff(Detail.created_at)" class="shape shape1">
							<div class="shape-text">
								ON			
							</div>
						</div>
						<div ng-if="dateDiff(Detail.created_at)" class="shape">
							<div class="shape-text">
								OFF					
							</div>
						</div>
						<div class="product-main simpleCart_shelfItem">
							<a href="single.html" class="mask"><img class="img-responsive zoom-img" src="images/p-1.png" alt="" /></a>
							<div class="product-bottom">
								<h3>{{Detail.deviceLable}}</h3>
								<small>{{Detail.deviceId}}</small>
								<p>Explore Now</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
								<small>{{Detail.created_at}}</small>
							</div>
							<!-- <div class="srch">
								<span>-50%</span>
							</div> -->
						</div>
					</div>
					<div ng-if="!Details" class="alert alert-danger">
						<strong>Sorry!</strong> There is no device at the moment!
					</div>					
					<div class="clearfix"></div>
				</div>				
			</div>
		</div>
	</div>
	<!--product-end-->
	<style type="text/css">
		.shape{    
			border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;
			-ms-transform:rotate(360deg); /* IE 9 */
			-o-transform: rotate(360deg);  /* Opera 10.5 */
			-webkit-transform:rotate(360deg); /* Safari and Chrome */
			transform:rotate(360deg);
		}
		.shape {
			border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
		}
		.shape1 {
			border-color: rgba(255,255,255,0) rgb(77, 121, 7) rgba(255,255,255,0) rgba(255,255,255,0) !important;
		}
		.shape-text{
			color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;
			-ms-transform:rotate(30deg); /* IE 9 */
			-o-transform: rotate(360deg);  /* Opera 10.5 */
			-webkit-transform:rotate(30deg); /* Safari and Chrome */
			transform:rotate(30deg);
		}
	</style>